<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/sortinghat_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>WhoaYouinHP</title>
</head>
<body>

    <div class="main">

        <div class="app" v-show="showMain">
            <div class="app__header">
                <img class="app__logo" src="img/sortinghat_logo.png">
            </div>
            <div class="app__body">
                <button class="app__btn" @click="goToQuestions">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                    <div class="app_btn-text">Узнай свою магическую силу</div>
                </button>
                <button class="app__btn" @click="goToAchivments">
                    <i class="fa fa-magic" aria-hidden="true"></i>
                    <div class="app_btn-text">Сведения о магической силе</div>
                </button>
                <button class="app__btn" @click="goToSocial">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="app_btn-text">Автор</div>
                </button>
                <button class="app__btn btn__sound">
                    <i class="fa fa-volume-off" aria-hidden="true"></i>
                    <div class="app_btn-text">Звук</div>
                </button>
            </div>

        </div>
        
        <div class="app achivments" v-show="showAchivments">
            <div class="app__body">
                <div class="app__body-inner">
                    <h2 class="app__body-title">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                        Ты сам вершишь свою судьбу
                    </h2>
                    <div class="app__body-top">
                        <div class="app__card">
                            <div class="app__card-text">Накопленная магия</div>
                            <div class="app__card-count">{{ totalScore }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Открыто магических направлений</div>
                            <div class="app__card-count">{{ openMagics }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Использование маховика времени</div>
                            <div class="app__card-count">{{ totalGames }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Любимое магическое направление</div>
                            <div class="app__card-count">{{ favoriteMagic }}</div>
                        </div>
                    </div>
                    <div class="app__body-middle">
                        <div class="app__result"
                            v-show="showResultMagic[k]" 
                            v-for="(magic, k) in results"
                            @click="goToResults(k)">
                            <div class="app__result-score">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <div class="app__result-count">{{ magic.points }}</div>
                            </div>
                            <div class="app__result-name">{{ magic.name }}</div>
                            <div class="app__result-amount">{{ totalGame[k] }}</div>
                        </div>
                        
                    </div>
                    <div class="app__body-bottom">
                        <button class="app__btn btn__back btn__achivment" @click="goToMain">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="app" v-show="showQuestions" >
            <div class="app__header">
                <div class="app__header-inner">
                    <div class="app__count"># {{ number+1 }} из 7</div>
                    <div class="app__text">{{ questions[number][0] }}</div>
                </div>
            </div>
            <div class="app__body">
                <button class="app__btn"
                        v-for="(answer, i) in questions[number][1]"
                        @click="nextQuestions(questions[number][2][i])">
                    <div class="app__btn-text">{{ answer }}</div>
                </button>
            </div>
        </div>

        <div class="app" v-show="showSocial">
            <div class="app__body">
                <a target="_blank" href="http://youtube.com" class="app__btn">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <div class="app__btn-text">Youtube</div>
                </a>
                <button class="app__btn btn__back" @click="goToMain">
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="app results" v-show="showResult" :data-magic="resultMagic">
            <div class="app__body">
                <div class="app__results-inner">
                    <div class="results__title">{{ results[resultMagic].name }}</div>
                    <div class="results__img">
                        <img :src="'img/'+resultMagic+'_logo.jpg'">
                    </div>
                    <div class="result__text-box">
                        <p class="results__text">{{ results[resultMagic].description }}</p>
                        
                    </div>
                    <div>
                        <button :class="'app__btn btn__back btn__'+resultMagic" @click="goToAchivments">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>


    <script src="js/vue.js"></script>
    <script src="js/const.js"></script>
    <script src="js/main.js"></script>
</body>
</html>